@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
    margin: 0;
    --background: hsl(0, 0%, 15%);
    --hue: 162;
    --accent-color: hsl(var(--hue), 95%, 43%);
    --accent-color-darker: hsl(var(--hue), 95%, 20%);
    --text-background: hsl(0, 0%, 20%);
    --text-color: hsl(0, 0%, 100%);
    --margin: 25px;
    --little-margin: 12px;
    --min-margin: 6px;
    --border: solid 1px var(--accent-color);
    --border-darker: solid 1px var(--accent-color-darker);
    --border-radius: 8px;
    /* color: var(--text-color); */
}
* :not(#code-editor *, textarea#notes) {
    font-family: Arial, Helvetica, sans-serif;
}

/* general body */
body {
    background: var(--background) url(/images/body.png);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* warning in case using phone */
.mobile-warning {
    display: none;
}

/* title and levels */
.header {
    background: var(--text-background);
    color: var(--text-color);
    /*padding: var(--min-margin);*/
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px var(--accent-color);
}
/* header title */
.header h1 {
    margin: var(--min-margin);
}
/* levels div */
.header .levels {
    display: flex;
    flex-direction: row;
    gap: var(--min-margin);
    font-size: 24px;
    height: 100%;
    --border-bottom: solid 2px var(--accent-color);
    --big-border-bottom: solid 5px var(--accent-color);
    --border-bottom-hiden: solid 2px hsla(0, 0%, 0%, 0%);
    --big-border-bottom-hiden: solid 5px hsla(0, 0%, 0%, 0%);
}
/* buttons level */
.header .levels .level {
    width: 6vh;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 18px;
}
.header .levels .level:hover {
    border-bottom: var(--big-border-bottom);
    border-top: var(--big-border-bottom-hiden);
    cursor: pointer;
}
.header .levels .level:active {
    border-bottom: var(--border-bottom);
    border-top: var(--border-bottom-hiden);
}
.header .levels .level.selected {
    border-bottom: var(--border-bottom);
    border-top: var(--border-bottom-hiden);
}

/* full page and contents */
.page {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: var(--margin);
    margin: var(--margin);
    justify-content: space-between;
}
fieldset {
    position: relative;
    color: var(--text-color);
}
fieldset > *:not(legend, button) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

legend {
    color: var(--accent-color);
}

/* left column (todo and notes) */
.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--margin);
    max-width: 450px;
    min-width: 225px;
}

/* todo / instructions */
.left .todo {
    flex: 1;
    border-radius: var(--border-radius);
    position: relative;
    background: var(--text-background);
    border: var(--border);
}
/* put lesson button in top left */
.left .todo > button#lesson {
    position: absolute;
    top: 0;
    left: 0;
}
/* put hint button in bottom right */
.left .todo > button#hint {
    position: absolute;
    bottom: 0;
    left: 0;
}
/* all buttons in todo */
.left .todo > button {
    background: none;
    border: none;
    padding: 0;
}
.left .todo .instructions {
    padding-left: 32px;
    overflow-x: auto;

    /* hide scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* hide scrollbar in chrome */
.left .todo .instructions::-webkit-scrollbar {
    display: none;
}

/* notes the user can type */
.left .notes {
    flex: 1;
    border-radius: var(--border-radius);
    background: var(--text-background);
    border: var(--border);
}
.left .notes textarea {
    resize: none;
    border: none;
    outline: none;
    padding: 5px;
    width: calc(100% - (2 * 5px));
    height: calc(100% - (2 * 5px));
    background: none;
    color: var(--text-color);
    font-family: 'JetBrains Mono';
    font-size: 18px;
    /* hide scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* hide scrollbar in chrome */
.left .notes textarea::-webkit-scrollbar {
    display: none;
}

/* end of left column */

/* right column, workspace, code section */
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: calc(var(--margin)/2);
}

.right .code {
    flex: 2;
    background: var(--text-background);
    border-radius: var(--border-radius);
    border: var(--border);
}
.right .code #code-container {
    right: -0.5px;
    background: var(--text-background);
    border-radius: var(--border-radius);
}
.right .code #code-editor {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

.right .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: calc(var(--margin)/2);
}
.right .buttons button {
    flex: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    background: var(--text-background);
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--text-color);
}

.right .results {
    flex: 1 0 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    background: var(--text-background);
    border-radius: var(--border-radius);
    border: var(--border);
    overflow-x: auto;
}
.right #results {
    padding: var(--min-margin);
    /* max-width: 1px; */
    max-width: calc(100vw/2 - var(--margin)*2);
}
.right .results table {
    border-collapse: collapse;
    width: min-content;
}
.right .results table *:is(th, td) {
    border: solid 2px var(--accent-color-darker);
    border-radius: var(--border-radius);
}
.right .results table th {
    padding: 6px;
}
.right .results table td {
    padding: 4px;
    white-space: nowrap;
}
/* end of right column */
